<launch>
    <!--  TODO: Add server parameters as they are implemented in antrobot_node.py  -->

    <!--  Launcher global arguments  -->
    <arg name="lidar_enable" default="false" /> <!-- Enable the inclusion of lidar node -->

    <!--  Antrobot robot node  -->
    <node pkg="antrobot_ros" type="antrobot_node.py" name="antrobot"/>

    <!--  Enable antrobot lidar  -->
    <!-- Note:
      - Antrobot uses the RPLiDAR A1/A2 by default. The package for RPLiDAR can be cloned
        form git clone https://github.com/robopeak/rplidar_ros.git.
      - The original rplidar at https://github.com/Slamtec/rplidar_ros contains errors.
        If the RPLidar is used uncomment include below.
        If another LiDAR is used, change the configuration accordingly.
      - Use the lidar_enable argument to run this node with or without the lidar node
    -->
    <include file="$(find rplidar_ros)/launch/rplidar.launch" if="$(arg lidar_enable)"/>

  <!-- TODO: Enable realsense d455 or d35i -->
</launch>
