<launch>
    <!--  TODO: Add server parameters as they are implemented in antrobot_node.py  -->

    <!--  Launcher global arguments  -->
    <arg name="lidar_enable" default="false" />

    <!--  Antrobot robot node  -->
    <node pkg="antrobot_ros" type="antrobot_node.py" name="antrobot"/>

    <!--  Enable antrobot lidar  -->
    <include file="$(find rplidar_ros)/launch/rplidar.launch" if="$(arg lidar_enable)"/>

</launch>
